body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 50px;
}

.container {
  width: 480px;
  height: 480px;
  outline: 1px solid black;
  margin: 50px;
}

.grid-box {
  max-height: 100%;
  max-width: 100%;
  background-color: lightblue;
  outline: 1px solid black;
}
